
body {
  margin: 0px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.container {
  position: relative;
  height: 180px;
  background-image: url(./img/top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container__panner {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 99;
  background-color:white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-size: 15px;
}

.container__panner span {
  margin-left: 6px; 
  color: black; 
  letter-spacing:4px;
}

#bold-top-panner {
  font-weight: 800;
}

.container__inner {
  position: absolute;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:25px;
  color: white;
  font-family: "Open Sans", Helvetica, monospace;
} 

.container__inner span { 
  padding: 15px 17px 10px;
  background-color: black;
  font-size: 30px;
  opacity: 0.73;
  letter-spacing:3px;
}

/* body-sec */
.body {
  margin: 70px 50px 40px 50px;
  vertical-align: top;
}

/* project section */
.body__projects-sec {
  font-size: 22px;   
}

.body__projects-inner {
  margin-top: 50px;
}

.body__project-img {
  position: relative;
  margin-top: 10px;
}

.body__project-img img {
  width: 100%;
}

.body__project-img span {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 15px 10px;
  background-color: black;
  color: rgb(235, 229, 229);
  font-size: 14px
}

/* About section */
.body__about-sec {
  margin-top: 70px;
  font-size: 22px; 
  vertical-align: top;
}

.body__about-img {
  margin-top: 40px;
  margin-bottom: 20px;
  filter: grayscale(75%);
}

.body__about-img img {
  width: 100%;
}

.body__about-img  button {
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  border: 0px;
  background-color: rgb(230, 227, 227);
  font-size: 18px;
}

.body__career {
  font-size: 17px;
  color: rgb(133, 136, 139);
}

.body__parag {
  font-size: 17px;
}

/*contact section  */
.body__contact-sec {
  margin-top: 90px;
  font-size: 22px;
}

.body__contact-sec button { 
  padding: 10px;
  border: none;
  background-color: #000;
  color: #fff;
}

.body__contact-sec input {
  width: 100%;
  height: 30px;
  margin: 0px 0px 15px;
  border: 1px solid #ccc;
}

.body__contact-sec input::placeholder {
  padding: 10px;
  font-size: 15px;
}
/*display none in small devices*/

#container__links {
  display: none;
}

#container__title {
  display: none;
}

/* media query */
@media only screen and (min-width: 768px)
{
* {
  box-sizing: border-box;
}

.body {
  margin-left: 30px;
  margin-right: 30px;
}

.container {
  height: 380px; 
}

.container__inner span {
  font-size: 35px;
  letter-spacing: 5px;
}

#container__title {
  display: inline;
  margin-left: 10px;
  font-size: 35px;
  letter-spacing: 3px;
}

#container__links {
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  right: 25px;
}

#container__links a 
a:hover,
a:link,
a:visited,
a:active {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}

/* project section */
.body__projects-inner {
  /* content: "";
  display: table;
  clear: both;   */
  display: flex;
  flex-wrap: wrap;
}

.body__project-img {
  /* float: left; */
  width: 50%;
  padding-right: 10px;
} 

/* about section */
.body__about-inner {
  /* content: "";
  display: table;
  clear: both;   */
  display: flex;
  flex-wrap: wrap;
}

.body__about-img {
  /* float: left;    */
  width: 50%;  
  padding-right: 10px;
}

}

@media only screen and (min-width: 992px)
{
.container {
  height: 400px; 
}

/* project section */
.body__project-img {
  width: 25%;
} 

/* about section */
.body__about-img {  
  width: 25%; 
}
}