.project-sec{
    font-size: 22px; 
  }
.projects-inner {
    margin-top: 50px;

    .img-title {
        position: relative;
        margin-top: 10px;
        
        img {
            width: 100%;
        }

        span {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 10px 15px 10px;
            background-color: black;
            color: rgb(235, 229, 229);
            font-size: 14px
        }
    }
}